idna==2.10
Jinja2~=2.11.3
nacos-sdk-python~=0.1.6
nameko==2.13.0
packaging==20.9
parameterized==0.8.1
path==15.1.2
path.py==12.5.0
pkginfo==1.7.0
Pygments==2.9.0
PyMySQL~=1.0.2
pyparsing==2.4.7
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests~=2.25.1
six==1.15.0
twine==3.4.1
urllib3==1.26.3
selenium~=3.141.0
openpyxl~=3.0.7
pymongo~=3.11.4